EnergizedAntWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.energizedant.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.energizedant.com/" name="EnergizedAntWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.energizedant.com/" schemaLocation="http://localhost:8080/EnergizedAntWS/EnergizedAntWS?xsd=1"/>
</xsd:schema>
</types>
<message name="getStatus">
<part name="parameters" element="tns:getStatus"/>
</message>
<message name="getStatusResponse">
<part name="parameters" element="tns:getStatusResponse"/>
</message>
<message name="getVersion">
<part name="parameters" element="tns:getVersion"/>
</message>
<message name="getVersionResponse">
<part name="parameters" element="tns:getVersionResponse"/>
</message>
<message name="allByString">
<part name="parameters" element="tns:allByString"/>
</message>
<message name="allByStringResponse">
<part name="parameters" element="tns:allByStringResponse"/>
</message>
<message name="allByAddress">
<part name="parameters" element="tns:allByAddress"/>
</message>
<message name="allByAddressResponse">
<part name="parameters" element="tns:allByAddressResponse"/>
</message>
<message name="allByCoordinates">
<part name="parameters" element="tns:allByCoordinates"/>
</message>
<message name="allByCoordinatesResponse">
<part name="parameters" element="tns:allByCoordinatesResponse"/>
</message>
<portType name="EnergizedAntWS">
<operation name="getStatus">
<input wsam:Action="http://ws.energizedant.com/EnergizedAntWS/getStatusRequest" message="tns:getStatus"/>
<output wsam:Action="http://ws.energizedant.com/EnergizedAntWS/getStatusResponse" message="tns:getStatusResponse"/>
</operation>
<operation name="getVersion">
<input wsam:Action="http://ws.energizedant.com/EnergizedAntWS/getVersionRequest" message="tns:getVersion"/>
<output wsam:Action="http://ws.energizedant.com/EnergizedAntWS/getVersionResponse" message="tns:getVersionResponse"/>
</operation>
<operation name="allByString">
<input wsam:Action="http://ws.energizedant.com/EnergizedAntWS/allByStringRequest" message="tns:allByString"/>
<output wsam:Action="http://ws.energizedant.com/EnergizedAntWS/allByStringResponse" message="tns:allByStringResponse"/>
</operation>
<operation name="allByAddress">
<input wsam:Action="http://ws.energizedant.com/EnergizedAntWS/allByAddressRequest" message="tns:allByAddress"/>
<output wsam:Action="http://ws.energizedant.com/EnergizedAntWS/allByAddressResponse" message="tns:allByAddressResponse"/>
</operation>
<operation name="allByCoordinates">
<input wsam:Action="http://ws.energizedant.com/EnergizedAntWS/allByCoordinatesRequest" message="tns:allByCoordinates"/>
<output wsam:Action="http://ws.energizedant.com/EnergizedAntWS/allByCoordinatesResponse" message="tns:allByCoordinatesResponse"/>
</operation>
</portType>
<binding name="EnergizedAntWSPortBinding" type="tns:EnergizedAntWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVersion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="allByString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="allByAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="allByCoordinates">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EnergizedAntWS">
<port name="EnergizedAntWSPort" binding="tns:EnergizedAntWSPortBinding">
<soap:address location="http://localhost:8080/EnergizedAntWS/EnergizedAntWS"/>
</port>
</service>
</definitions>
